/* 
body {
    color: #212121;
    background-color: #FFFFFF;
}
 */

/* Белый #FFFFFF */
/* Серый #757575; */
/* Акцент #2196F3; */
/* Фон футера #2F303A; */
/* Фон кнопок #F5F4FA; */
:root {
  --primary-text-color: #212121;
  --tittle-text-color: #757575;
  --accent-color: #2196f3;
  --primary-wh-color: #ffffff;
  --bg-button-portfolio: #f5f4fa;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  font-size: 14px;
  letter-spacing: 0, 03em;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
}

/* Header */

.container {
    width: 1200px;
    padding: 0;
    margin: 0 auto;
}

.navigation {
    display: flex;
    align-items: center;
}

.contact {
    display: flex;
    margin-left: auto;
}

footer {
  background: #2f303a;
  padding: 60px 200px;
}
.contact-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.contact-footer:hover,
:focus {
  color: var(--accent-color);
}

.web-blue {
  color: var(--accent-color);
}

.adress-contact {
    padding: 0;
}

.adress-link {
  color: var(--primary-wh-color);
}
/* Логотип */
.logo {
  color: var(--primary-text-color);
  font-size: 26px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  margin-right: 93px;
}

/* Site nav */
.nav-link {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  margin-right: 50px;
}

.site-nav {
    display: flex;
}

.nav-link:hover,
.nav-link:focus,
.current {
  color: var(--accent-color);
}

.section-title {
  color: var(--primary-text-color);
  margin-top: 0;
}

.site-nav .nav-link.current {
  color: var(--accent-color);
}

.contact-link {
  color: var(--tittle-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  font-style: normal;
  margin-right: 50px;
}

.contact-link:hover,
:focus {
  color: var(--accent-color);
}

/* main */
.main-title {
  color: var(--primary-wh-color);
}

.future-discription {
  color: var(--tittle-text-color);
  line-height: 1.71;
}

/* Решение для бизнесса */

.hero {
    padding: 200px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2f303a;
}

.hero-title {
  color: var(--primary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-wh-color);
  width: 700px;
  margin-top: 0;
  margin-bottom: 40px;
}

.button {
    color: var(--primary-wh-color);
    background-color: var(--accent-color);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.85;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 32px;
    width: 200px;
    text-align: center;
  }

/* Особенности */

.features {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}

.features-title {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.features-discription {
    color: var(--tittle-text-color);
    font-size: 14px;
    line-height: 1,71;

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

/* Чем мы занимаемся */
.section-title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
}
  
.section {
      padding: 94px 0;
}

.about {
display: flex;
justify-content: space-between;
}

/* Команда */

.team {
    background-color:#F5F4FA;
}

.list-team {
    display: flex;
    justify-content: space-between;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team-position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--tittle-text-color);
}

/* Footer */

.footer-logo {
    color: var(--primary-wh-color);
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
  }


/* ПОРТФОЛИО */

/* Button Portfolio */
.button-portfolio {
  color: var(--primary-text-color);
  background-color: var(--bg-button-portfolio);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: none;
  padding: 6px 22px;
  width: 130px;
  border-radius: 6px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
}

.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--accent-color);
  color: var(--primary-wh-color);
}

.button-portfolio.active {
  background-color: var(--accent-color);
  color: var(--primary-wh-color);
}

/* Cards */
.card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  
}

.card-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.85;
  color: var(--tittle-text-color);
}

.card-list {
    display: flex;
    /* Make a flex container multiline */
    flex-wrap: wrap;
    /* Set gap between rows and columns */
    gap: 30px;
    padding: 0;
    list-style: none;
    margin-bottom: 94px;

}

.button-f {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 10px;

  
}

.navigation {
    margin-bottom: 94px;
}


